{
	"token": "",
	"clientId": "",
	"guildId": "",
	"ownerId": "",
	"googlekey": "",
	"searchid": "",
	"youtubekey": "",
	"gelkey": "",
	"gelid": "",
	"steamkey": "",
		"vanillyn": {
			"icon": {
				"dev": "",
				"ea": "".
				"final": ""},
			"banner": {
				"dev": "",
				"ea": "",
				"final": ""},
			"invite": {
				"dev": "",
				"ea": "",
				"final": ""}
		}
} 
