{
	"token": "",
	"clientId": "",
	"guildId": "",
	"ownerId": "",
	"auth": {
		"google": {
			"googlekey": "",
			"searchid": "",
			"youtubekey": "",
		},
		"gelbooru": {
			"key": "",
			"id": "",
		}
		"steamkey": "",
		"anilistkey": "",
	}
	"vanillin": {
		"icon": {
			"dev": "",
			"ea": "",
			"final": ""},
		"banner": "",
		"site": "https://vanillyn.tk/webprojects/vanillin",
		"invite": {
			"dev": "",
			"ea": "",
			"final": ""},
		"dev": {
			"vanillyn": {
				"name": "Vanillyn",
				"tag": "Vanillyn#0001",
				"id": "",
				"icon": ""},
			"user": {
				"name": "",
				"tag": "",
				"id": "",
				"icon": ""},
			},
			
		}
} 
